<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE TECH BLOG</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/jass.css">

</head>

<body>
  <header class="">
    <nav class="row bg-dark">
        <h1 class="col-3 pt-4" >THE TECH BLOG</h1>
        <a class="col-3 pt-4" href="/">Home</a>
        <a class="col-3 pt-4" href="/dashboard">Dashboard</a> 
       {{#if logged_in}}
         <button class="btn col-3 pt-3" id="logout">logout</button>
       {{ else }}
         <a  class="col-3 pt-4" id="login" href="/login">Log In</a> 
       {{/if}}
    </nav>
  </header>

  <main class="container container-fluid mt-5">
   <div>
       <h2>MAIN.HANDLEBARS</h2>
        {{{ body }}} 
   </div>
  </main>

  <footer>
      <div class="row text-center">
         <p class="col-12 p-5 m-5 bg-dark"><a href="mailto:mariah@gmail.com">mariah@gmail.com</a></p>
      </div>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
