<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE TECH BLOG</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <a href="/">Home</a>
    <a href="/">Dashboard</a> 
   
    {{!-- Add where Dashboard will link to in href should go --}}
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
       {{ else }}
     <a id="login" href="/">Sign In</a> 
    </nav>
    {{/if}}
    <h1>
      THE TECH BLOG
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    {{!-- {{{ body }}} --}} 
    {{!-- Add previous blog posts html here  {{ body }} currently renders the log in fields--}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
