{{!-- Display previous blogs here from user and allow addition of their own--}}
<div>
  <h2>DASHBOARD.HANDLEBARS</h2>
    <p>Welcome back {{name}}!</p>

   
</div>
{{!-- Display each of their blogs --}}

{{#each blogs}}

<div id="user-post">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
</div>

{{/each }}

{{!-- add form to fill out for new blog post --}}
  <div class="col-8">
      <form id="articleForm" class="form">
        <input id="blogId" />
        <input id="blogTitle" placeholder="Blog Title" type="text"/>
        <textarea id="blogText" placeholder="Blog Text"></textarea>
        <div>
          <!-- Submit button -->
          <button type="submit" id="saveBlog">Save</button>
          {{!-- New addition button - not sure how to get that working for another input  --}}
          <button type="submit" id='newBlog'>New</button>
        </div>
      </form>
    </div>