{{!-- Display previous blogs here from user and allow addition of their own--}}
<div>
    <p>Welcome back {{name}}!</p>
   
</div>
{{!-- Display each of their blogs --}}

{{#each blogs}}

<div id="user-post">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
</div>

{{/each }}

{{!-- If logged in they can add new blog --}}
{{#if logged_in}}
{{!-- Not sure how to do that yet --}}
{{/if}}