  {{!-- Display previous blog posts from seed --}}
  
   <section class="flex-row justify-center">
    <h2>THIS IS MY HOMEPAGE.HANDLEBARS</h2>
    {{#each blogs}}
    <p> {{ title }} </p>
    <p> {{ content }} </p>
    {{/each}}

  </section>

